<tr>
  <th class="download-link"><%= link_to stored.name, stored_file_path(stored) %></th>
  <th><%= stored.description %></th>
  <th><div class="counter"></div><%#= stored.downloads %></th>
  <th><%= stored.created_at %></th>
  <th><%= stored.size %> байт</th>
  <th>
    <%= link_to( fa_icon('window-close'), stored_file_path(stored), method: :delete,
         style: "color:red", data: {confirm: 'Уверен что хочешь удалить?'}, remote: true ) %>    	
  </th>
</tr>

