<tr>
  <th class="download-link"><%= link_to stored_file.name, stored_file_path(stored_file) %></th>
  <th><%= stored_file.description %></th>
  <th><div class="counter"></div><%#= stored.downloads %></th>
  <th><%= stored_file.created_at %></th>
  <th><%= stored_file.size %> байт</th>
  <th>
    <%= link_to( fa_icon('window-close'), stored_file_path(stored_file), method: :delete,
         style: "color:red", data: {confirm: 'Уверен что хочешь удалить?'}, remote: true ) %>    	
  </th>
</tr>

