<div>
  <h1>Файлообменник на скорую руку</h1>

  <h2>Список файлов:</h2>
  <table class="table table-border table-hover">
    <thead>
      <tr>
	    <th>Файл</th>
	    <th>Описание</th>
	    <th>Загружен</th>
	    <th>Размер</th>
	    <th>Действие</th>
      </tr>
    </thead>

  <%= render partial: 'stored', collection: @files %>

  </table>


  <hr/>
  <h3>Добавить</h3>
  <div>

    <%= form_for(:new_file, url: stored_files_path, method: :post ) do |f| %>

      <%= f.label :description, "Описание файла" %>
      <%= f.text_area :description, placeholder: 'Желательно бы вставить описание файла...', class: 'form-control', rows: "5", cols: "50%" %>

      <%= f.file_field :upload, options={:name => 'обзор'} %>

      <%= f.submit 'Загрузить', class: 'btn btn-primary' %>

    <% end %>

  </div>

</div>
