<div>
  <h1>Файлообменник на скорую руку</h1>

  <h2>Список файлов:</h2>
  <table class="table table-border table-hover">
    <thead>
      <tr>
	    <th>Файл</th>
	    <th>Описание</th>
	    <th>Загружен</th>
	    <th>Размер</th>
	    <th>Удалить</th>
      </tr>
    </thead>

  <%# @files.each do |file| %>
    <tr>
    <td><a href="/<%#= file.id %>" title="<%#=file.filename%>"><%#= file.filename %></a></td>
    <td><%#= file.created_at.strftime("%d %b")%></td>
    <td><a href="/<%#= file.id %>/delete" title="Удалить файл">Удалить</a></td>
    </tr>
  <%# end %>
  </table>

  <br/>
  <hr/>
  

  <h3>Добавить</h3>
  <div>
  <%#= form_for :file, url: stored_files_path, method: :post do |f| %>
    <%#= render partial: 'partials/form_errors', locals: {model: @file} %>
    <%#= form_tag({:action => :create}, :multipart => true) do |f| %>
    <%= form_for(:new_file, url: stored_files_path, method: :post ) do |f| %>

      <%= f.label :description, "Описание файла" %>
      <%= f.text_area :description, class: 'form-control', rows: "5", cols: "50%" %>

      <%= f.file_field :upload %>

      <%= f.submit 'Загрузать', class: 'btn btn-primary' %>

    <% end %>

  </div>

    <!-- <form name="new_file" id="new_file" method="POST" enctype="multipart/form-data"> -->
    <!-- input type="file" name="file"/><br /> -->


</div>

__ <%= @new_file.inspect %>
