<div>
  <h2>Файлообменник на скорую руку</h2>

  <h4>Список файлов: 
    <%= link_to('все', stored_files_path) %> |
    <%= link_to('фото', select_filelist_stored_files_path(filetype: 'image') ) %> |
    <%= link_to('музыка', select_filelist_stored_files_path(filetype: 'audio') ) %> |
    <%= link_to('видео', select_filelist_stored_files_path(filetype: 'video') ) %> |
    <%= link_to('архивы', select_filelist_stored_files_path(filetype: 'archieve') ) %> |
    <%= link_to('документы', select_filelist_stored_files_path(filetype: 'document') ) %> |
    <%= link_to('разное', select_filelist_stored_files_path(filetype: 'unknown') ) %>
  </h4>
  <div id="stored_table">
    <table class="table table-border table-hover">
      <thead>
        <tr>
          <th></th>
	        <th>Файл</th>
	        <th>Описание</th>
          <th>Закачек</th>
	        <th>Загружен</th>
	        <th>Размер</th>
	        <th></th>
        </tr>
      </thead>
        <%= render partial: 'stored_file', collection: @files %>
    </table>
  </div>


  <hr/>
  <%= link_to 'Загрузить файл', new_stored_file_path, id: 'upload_link', remote: true %>

</div>

